.search-container {
  display: flex;
  flex-direction: row;
  position: relative;
  justify-content: center;
  margin: 8rem auto 2rem;

  width: 400px;
  height: fit-content;
}
.search-container p {
  font-size: 1.7rem;
  font-weight: 600;
  background-color: var(--background);

  position: absolute;
  top: -10px;
  left: 12px;
  padding: 0 5px;
}
#search-button {
  width: fit-content;
  height: 3.9rem;
  border: var(--searchBorder);
  border-radius: 3px;

  font-size: 1.6rem;
  font-weight: 600;
  margin: 0 0 0 1rem;
  padding: 0.5rem;
  background-color: var(--background);

  cursor: pointer;
}
.title-span {
  font-size: var(--titleSize);
  letter-spacing: 2px;
}
.title-span-b {
  font-size: var(--titleSize);
  letter-spacing: 26px;
}

.pokedex-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: clamp(3rem, 20vh, 5rem) auto 0;
  position: relative;

  width: 800px;
  height: 600px;
}

/*! LEFT SIDE */
.info-stack {
  border-top-left-radius: var(--pokeRadius);
  border-bottom-left-radius: var(--pokeRadius);
  background-color: var(--pokeRed);
  height: 600px;
  width: 400px;

  display: flex;
  flex-direction: column;
}
.pokemon-display-container {
  width: 350px;
  height: 300px;
  background-color: var(--pokeGrey);
  margin: 2.5rem auto 0;
  border-radius: var(--pokeRadius);
  clip-path: path(
    "M 0,10 L 10,0 L 340,0 L 350,10 L 350,290 L 340,300 L 45,300 L 0,265 L 0,10 Z"
  );

  display: flex;
  flex-direction: column;
}
.pokemon-display {
  border: 2px solid var(--pokeBlack);
  border-radius: var(--pokeRadius);
  background-color: var(--background);
  margin: auto;
  height: 250px;
  width: 290px;
  position: relative;
}

/* t POKEMON INFO */
#sprite {
  margin: 0 auto;
  width: 150px;
  height: 150px;
  display: flex;
}
#types {
  text-align: center;
  display: flex;
  flex-direction: row;
}

.pokemon-info {
  display: flex;
  flex-direction: row;
  margin: 5px 0 0 10px;
}
.pokemon-info-p {
  font-size: 2rem;
  margin: 0 0 0 15px;
}

/*! RIGHT SIDE  */
.stats-stack {
  width: 400px;
  height: 550px;
  margin-top: 50px;

  background-color: var(--pokeRed);
  clip-path: path(
    "M 0,0 L 103,0 C 130,0 160,0 173,15 C 190,35 210,45 250,45 L 400,45 L 400,530 A 20,20 0,0,1 380,550 L 0,550 L 0,0 Z"
  );
  border-left: 3px solid var(--pokeBlack);
}
.stats-display {
  width: 350px;
  height: 150px;
  background-color: black;
  margin: 75px auto 0;
  color: white;
  font-size: 2rem;
  border-radius: var(--pokeRadius);
}

/*! MISC RIGHT */
.blue-btn-container {
  display: grid;
  grid-template-columns: repeat(5, var(--btnPx));
  grid-row: repeat(2, auto);
  justify-content: center;
  padding: 2rem 0 0;
}
.blue-btn {
  width: var(--btnPx);
  height: calc(var(--btnPx) - 10px);
  border: 2px solid var(--pokeBlack);
  background-color: var(--pokeBlue);
}
.thin-btn-container {
  display: flex;
  flex-direction: row;
  justify-content: end;
  margin-right: 23px;
}
.thin-btn {
  width: 50px;
  height: 10px;
  background-color: var(--pokeBlack);
  border-radius: var(--pokeRadius);
  margin: 10px 0 0 10px;
}
.grey-btn-container {
  display: flex;
  flex-direction: row;
  margin-left: 25px;
}
.grey-btn {
  width: var(--btnPx);
  height: calc(var(--btnPx) - 20px);
  background-color: var(--pokeGrey);
  border: 2px solid var(--pokeBlack);
  margin: 0 10px 0 0;
}
.yellow-btn {
  margin-left: 152px;
}

.black-btn-container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin: 25px 0 0;
}
.black-btn {
  width: 150px;
  height: var(--btnPx);
  background-color: var(--pokeBlack);
  /* margin: 0 30px 0 0; */
  border-radius: var(--pokeRadius);
}

/*! MISC LEFT  */
.different-btns-container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
.vert-stack {
  display: flex;
  flex-direction: column;
}
.top {
  display: flex;
  margin: 15px 0 40px;
}
.green {
  background-color: var(--pokeGreen);
}
.red {
  background-color: var(--pokeRed2);
}
.green-display {
  width: calc(var(--btnPx) + 50px);
  height: var(--btnPx);
  background-color: #32cd32;
  border: 2px solid var(--pokeBlack);
  border-radius: 5px;
}
.d-pad {
  width: 100px;
  height: 100px;
  background-color: var(--pokeBlack);
  margin: 50px 10px 0 0;
  clip-path: polygon(
    0% 35%,
    35% 35%,
    35% 0%,
    65% 0%,
    65% 35%,
    100% 35%,
    100% 65%,
    65% 65%,
    65% 100%,
    35% 100%,
    35% 65%,
    0% 65%
  );
}

/*? Use Cubic Bézier curves less of a headache. Check gallery for the cords*/

/*! CIRCLE HELL  */
#buttons-container {
  background-color: #8b0000;
  height: 95px;
  width: 400px;
  clip-path: path(
    "M 400,50 L 297,50 C 270,50 240,50 227,65 C 210,85 190,95 150,95 L 0,95 L 0,20 A 17,17 0,0,1 20,0 L 400,0 L 400,50 Z"
  );
  display: flex;
  flex-direction: row;
}

#circle-1 {
  height: 70px;
  width: 70px;
  border-radius: 50%;
  border: 5px solid white;
  background-color: var(--pokeBlue);
  margin: 0.9rem 1rem;
}
#circle-2 {
  height: var(--subCircle);
  width: var(--subCircle);
  border-radius: 50%;
  background-color: var(--pokeRed2);
  margin: var(--subCircleMargins);
}
.circle-3 {
  height: var(--subCircle);
  width: var(--subCircle);
  border-radius: 50%;
  background-color: #fbfb05;
  margin: var(--subCircleMargins);
}
#circle-4 {
  height: var(--subCircle);
  width: var(--subCircle);
  border-radius: 50%;
  background-color: var(--pokeGreen);
  margin: var(--subCircleMargins);
}
.circle-5 {
  height: 65px;
  width: 65px;
  border-radius: 50%;
  background-color: var(--pokeBlack);
  margin: 40px 0 0 10px;
}

/* ! TYPE HELL  */
#normal {
  background-color: #a8a77a;
}
#fire {
  background-color: #ee8130;
}
#water {
  background-color: #6390f0;
}
#electric {
  background-color: #f7d02c;
}
#grass {
  background-color: #7ac74c;
}
#ice {
  background-color: #96d9d6;
}
#fighting {
  background-color: #c22e28;
}
#poison {
  background-color: #a33ea1;
}
#ground {
  background-color: #e2bf65;
}
#flying {
  background-color: #a98ff3;
}
#psychic {
  background-color: #f95587;
}
#bug {
  background-color: #a6b91a;
}
#rock {
  background-color: #b6a136;
}
#ghost {
  background-color: #735797;
}
#dragon {
  background-color: #6f35fc;
}
#dark {
  background-color: #705746;
}
#steel {
  background-color: #b7b7ce;
}
#fairy {
  background-color: #d685ad;
}

@media only screen and (max-width: 600px) {
  h1 {
    margin: 10px 0 0;
  }
}
